<br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="text-align:center">



<div class="list-group">
  <div class="list-group-item clearfix">
      <div class="profile-teaser-left">
          <div class="profile-img"><img src="/assets/icon1.svg"/></div>
      </div>
      <div class="profile-teaser-main">
          <h2 class="profile-name">Tlhalefo Mokopudi</h2>
          <div class="profile-info">
              <div class="info"><span class="">e-mail address: </span>tlhalefo.mokopudi@accenture.com</div><br>
              <div class="info"><span class="">contact details: </span> 060 491 6932</div><br>
              <div class="info"><span class="">skills:</span> Angular and bootstrap</div>
          </div>
      </div>
  </div>

</div>

<div class="list-group">
  <div class="list-group-item clearfix">
      <div class="profile-teaser-left">
          <div class="profile-img"><img src="/assets/icon1.svg"/></div>
      </div>
      <div class="profile-teaser-main">
          <h2 class="profile-name">Thembela daphula</h2>
          <div class="profile-info">
              <div class="info"><span class="">e-mail address: </span>thembela.daphula@accenture.com</div><br>
              <div class="info"><span class="">contact details: </span> 061 6932 243</div><br>
              <div class="info"><span class="">skills:</span> Firebase and Ionic</div>
          </div>
      </div>
  </div>

</div>

<div class="list-group">
    <div class="list-group-item clearfix">
        <div class="profile-teaser-left">
            <div class="profile-img"><img src="/assets/icon1.svg"/></div>
        </div>
        <div class="profile-teaser-main">
            <h2 class="profile-name">Lebogang Mogamisi</h2>
            <div class="profile-info">
                <div class="info"><span class="">e-mail address: </span>lebogang.mogamisi@accenture.com</div><br>
                <div class="info"><span class="">contact details: </span> 081 932 8243</div><br>
                <div class="info"><span class="">skills:</span> angular and Ionic</div>
            </div>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item clearfix">
            <div class="profile-teaser-left">
                <div class="profile-img"><img src="/assets/icon1.svg"/></div>
            </div>
            <div class="profile-teaser-main">
                <h2 class="profile-name">Colleen Leeuw</h2>
                <div class="profile-info">
                    <div class="info"><span class="">e-mail address: </span>leeuw.colleen@accenture.com</div><br>
                    <div class="info"><span class="">contact details: </span> 081 932 8243</div><br>
                    <div class="info"><span class="">skills:</span> angular and Ionic</div>
                </div>
            </div>
        </div>
  
  </div>
